[submodule "external/game"]
	path = external/game
	url = https://github.com/khalilhenoud/game.git
[submodule "external/library"]
	path = external/library
	url = https://github.com/khalilhenoud/library.git
[submodule "external/windowing"]
	path = external/windowing
	url = https://github.com/khalilhenoud/windowing
